@import "tailwindcss";
@plugin "daisyui";

.brand-gradient {
  background-image: linear-gradient(
    to right,
    #f97316,
    #ec4899,
    #8b5cf6
  );
}

.text-brand-gradient {
  background-image: linear-gradient(
    to right,
    #f97316,
    #ec4899,
    #8b5cf6
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}